<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>

    <!-- Materialize CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../../lib/materialize//css/materialize.min.css"
        media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../../src/style/main.css" media="screen,projection" />


    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <!-- controller js -->
    <script type="text/javascript" src="../controllers/main.js"></script>
    <script type="text/javascript" src="../controllers/berichtController.js"></script>

</head>

<body class="blue lighten-4">
    <div class="row">
        <!-- Nav Bar -->
        <nav class="nav_height">
            <div class="nav-wrapper nav" style="padding-left: 10px;">
               <!-- Image Logo -->
               <div class="">
                <a href="./dashboard.html">
                    <img id="logo" class="brand-logo image-link" src="../../media/logo.png"
                        style="height: auto; width: 50px;">
                </a>
            </div>
                <!-- Navigation  -->
                <div class="nav-wrapper">
                    <!-- Menu Dropdown Structure -->
                    <div>
                        <ul id="menu" class="dropdown-content">
                            <li><a href="#!">Commentaar</a></li>
                            <li><a href="./presentie.html">Presentie</a></li>
                            <li><a href="./ressort.html">Ressort</a></li>
                            <li><a href="#!">Vergadering</a></li>
                        </ul>
                        <ul id="instellingen" class="dropdown-content">
                            <li><a href="./gebruikers.html">Accounts</a></li>
                            <li class="divider"></li>
                            <li><a onclick="logout()">Uitloggen</a></li>
                        </ul>
                    </div>
                    <!-- Dropdowns Button -->
                    <ul class="hide-on-med-and-down right">
                        <li><a class="dropdown-trigger" data-target="menu">Menu<i
                                    class="material-icons right">arrow_drop_down</i></a>
                        </li>
                        <li><a class="dropdown-trigger" data-target="instellingen">Instellingen<i
                                    class="material-icons right">arrow_drop_down</i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <ul id="slide_out" class="sidenav col s4" style="overflow: scroll;">
            <li>
                <blockquote>
                    <p class="flow-text">Belangrijke Mededelingen</p>
                </blockquote>
            </li>
            <li>
                <div class="divider"></div>
            </li>
            <li>
                <form autocomplete="off" onsubmit="return verstuurBericht()" id="berichtForm" name="berichtForm"
                    method="POST">
                    <div class="row">
                        <div class="input-field col s11">
                            <input placeholder="Bericht..." id="bericht" name="bericht" type="text" class="validate"
                                required>
                            <label for="enter_message">Nieuw bericht</label>
                            <button class="btn-small waves-effect waves-light red" type="submit" name="action">versturen
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
        <a href="#" data-target="slide_out" class="sidenav-trigger ">
            <i class="material-icons message_btn ">message</i>
        </a>
    </div>


    <div class="container">
        <blockquote>
            <p class="flow-text">Negatief commentaar per ressort</p>
        </blockquote>
        <canvas id="commentaarChart"></canvas>

        <blockquote>
            <p class="flow-text">Schatting van aantal stemmen per ressort</p>
        </blockquote>
        <canvas id="stemSchatting"></canvas>
    </div>



    <!-- materialize js -->
    <script type="text/javascript" src="../../lib/materialize/js/materialize.min.js"></script>
    <script>
        M.AutoInit();
        window.onload = redirectIfNoToken();


        var ctx = document.getElementById('commentaarChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Koewarasan', 'Blauwgrond', 'Houttuin', 'Welgedacht A', 'Meerzorg'],
                datasets: [{
                    label: 'Negatieve commentaar per ressort',
                    data: [260, 140, 590, 30, 652],
                    borderWidth: 1,

                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                    ],
                }]
            },
        });


        var ctx = document.getElementById('stemSchatting').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Koewarasan', 'Blauwgrond', 'Houttuin', 'Welgedacht A', 'Meerzorg'],
                datasets: [{
                    label: 'Stemmen per ressort',
                    data: [64, 410, 75, 854, 263],
                    borderWidth: 1,

                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                    ],
                }]
            },
        });
    </script>

</body>

</html>