<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RS Propaganda</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../../lib/materialize//css/materialize.min.css"
        media="screen,projection" />
    
    <link rel="stylesheet" href="../style/login.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="blue darken-4">

    <div class="container">

        <div class="row col s12">

            <div class="logo col s6">

            </div>

            <div class="loginForm col s12">
                <form class="form" action="" method="POST">
                    <div class="row">
                        <div class="input-field col s5">
                            <input id="gebruikersnaam" type="text" class="validate">
                            <label for="gebruikersnaam">Gebruikersnaam</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s5">
                            <input id="wachtwoord" type="password" class="validate">
                            <label for="wachtwoord">Wachtwoord</label>
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn waves-effect waves-light waves-purple white grey-text col s2 btn_login" type="submit" name="inloggen">
                            Inloggen
                        </button>
                    </div>

                </form>
            </div>

        </div>
    </div>



    <script type="text/javascript" src="../../lib/materialize/js/materialize.min.js"></script>
    <script>
        M.AutoInit();
    </script>
</body>

</html>

</html>